* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Voltaire", sans-serif;
  }
  
  html{
      font-size: 62.5%;
      user-select: none;
      scroll-behavior: smooth;
  }

:root{
  --primary-color:#2b81e4;
  --secondary-color:#eee;
  --white-color:#fff;
  --grey-color:#eee;
  --light-grey-color:#777;
}  

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-prop{
  display: none;
}

.container{
  margin: 3rem;
  box-shadow: 0 1rem 3rem var(--light-grey-color);
  background-color: var(--grey-color);
  overflow: hidden;
}

.header{
  width: 100%;
  height: calc(100vh - 6rem);
  background: linear-gradient(rgba(18, 113, 255, .7), rgba(18, 113, 255, 0.5)), url(images/bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  perspective: 100rem;
}

.header-text{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .1rem;
  text-shadow: 0 .1rem .3rem #000000;
}

.heading{
  font-family: 'Vollkorn', sans-serif;
  font-weight: 600;
  font-size: 8rem;
  color: var(--white-color);
  
}
.header-paragraph{
  font-size: 4rem;
  font-weight: 500;
  color: var(--secondary-color);
  max-width: 70rem;
  margin: auto;
}

.logo{
  position: absolute;
  top: 3rem;
  right: 3rem;
}
.logo h1{
  display: flex;

}
.logo h1 span{
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary-color);
  background-color: var(--white-color);
  width: 4.5rem;
  height: 4.5rem;
  margin: .6rem;
  border-radius: 50%;
}
.logo h1 span img{
  width: 100%;
  height: 100%;
}

.logo h1 span:nth-child(1){
  animation: spin-letters 9s .1s infinite;
}
.logo h1 span:nth-child(2){
  animation: drop-letters 9s .3s infinite;
}
.logo h1 span:nth-child(3){
  animation: drop-letters 9s .5s infinite;
}
.logo h1 span:nth-child(4){
  animation: drop-letters 9s .7s infinite;
}



@keyframes drop-letters{
  0%{
    transform: translateY(0);
  }
  10%{
    transform: translateY(0);
  }
  15%{
    transform: translateY(-33%);
  }
  20%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes spin-letters{
  0%{
    transform: rotateY(0);
  }
  10%{
    transform: rotateY(0);
  }
  15%{
    transform: rotateY(360deg);
  }
  30%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(0);
  }
}

.header-image{
  width: 66rem;
  animation: float-image 123s infinite;
}

@keyframes float-image{
  0%{
    transform: translateZ(40rem);
    opacity: 1;
  }
  40%{
    transform: translateZ(-5rem)
               translateX(-5rem)
               translateY(5rem);
    opacity: .8;
  }
  70%{
    transform: translateZ(-15rem)
               translateX(-6rem)
               translateY(6rem);
    opacity: .6;
  }
  80%{
    transform: translateZ(-5rem)
               translateX(0)
               translateY(0);
    opacity: .8;
  }
  100%{
    transform: translateZ(40rem)
               translateX(0)
               translateY(0);
    opacity: 1;
  }
}

  /* Section 1 */
.section-1{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(233, 233, 233, 0.66), rgba(248, 248, 248, 0.88)), url(images/doremi-2.jpg) center no-repeat;
    background-size: cover;
    /* background-blend-mode: overlay; */
    position: relative;
    user-select: none;
    position: relative;
    z-index: 11;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(233, 233, 233, 0.66), rgba(248, 248, 248, 0.88)), url(images/bg.jpg) no-repeat;
    background-size: cover;
    opacity: .6;
    z-index: -1;
}

  /*  */

  /* Section 2 */
.section-2{
    padding: 5rem 0 10rem 0;
    position: relative;
}

.section-heading{
    font-size: 8rem;
    color: var(--primary-color);
    margin-bottom: 8rem;
    text-shadow: 0 .1rem .2rem var(--primary-color);
    font-family: "Vollkorn", sans-serif;
    text-align: center;
    
}

.cards-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.card{
  width: 36rem;
  position: relative;
  perspective: 150rem;
}

.card-image{
  width: 100%;
  height: 23rem;
  border-radius: .3rem .3rem 0 0;
  
}

.front-side{
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0 .5rem 2rem #aaa;
  border-radius: .3rem;
  position: relative;
  z-index: 11;
  transition: opacity .4s, transform .4s, box-shadow .4s;
}

.change>.front-side{
  transform: translateZ(-6rem) translateX(3rem);
  box-shadow: 0 2rem 4rem #777;
  opacity: .5;
  z-index: 0;
}

.goal-name{
  font-family: "Voltaire", sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  text-transform: uppercase;
  position: absolute;
  top: 15rem;
  right: 1.5rem;
  color: var(--white-color);
  text-shadow: 0 .1rem .3rem #000;
  letter-spacing: .3rem;
  background: linear-gradient(to right, rgba(18, 113, 255, .66), rgba(18, 113, 255, .33));
  padding: 1rem;
}

.card-list{
  width: 88%;
  margin: auto;
  padding: 2rem 0 3rem 0;
}
.card-list-item{
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-grey-color);
  margin: 2rem 0;
  border-bottom: .1rem solid var(--primary-color);
  padding-bottom: 1.5rem;
}

.back-side{
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  box-shadow: 0 2rem 4rem #777;
  flex-direction: column;
  transform: translateZ(-6rem) translateX(3rem);
  opacity: .5;
  transition: opacity .4s, transform .4s, box-shadow .4s;
}

.change>.back-side{
  transform: translateZ(0) translateX(0);
  box-shadow: 0 .5rem 2rem #aaa;
  opacity: .9;
  
}


.goal-details{
  font-size: 1.8rem;
  text-indent: 3rem;
  text-align: justify; 
  word-wrap: unset;
  color: var(--white-color);
  margin-bottom: 3rem;
  padding: 0 3rem;
  letter-spacing: .2rem;
  font-weight: 100;
}
.card-button{
  color: var(--primary-color);
  background-color: var(--white-color);
  border: none;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  letter-spacing: .2rem;
  border-radius: 5rem;
  cursor: pointer;
}

.nav-button{
  position: absolute;
  top: .5rem;
  left: .5rem;
  padding: .5rem;
  background-color: rgba(255,255,255,.8);
  color: var(--light-grey-color);
  border-radius: .3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  cursor: pointer;
}
/*  */

/* Section 3 */
.section-3{
   padding: 10rem 0;
   position: relative;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.bg-video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vision-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vision-bg{
  background-color: rgba(238,238,238,.85);
  padding: 5rem;
  margin: 5rem;
  width: 70%;
  box-shadow: 0 2rem 5rem rgba(51,51,51,.4);
  transform: skewX(33deg);
}

.vision{
  transform: skewX(-33deg);
  display: flex;
}

.vision-img{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}

.vision-text{
  letter-spacing: .2rem;
}

.vision-heading{
  font-size: 3.3rem;
  text-transform: uppercase;
  color: var(--light-grey-color);
  margin-bottom: 1rem;
}

.vision-paragraph{
  font-size: 2.3rem;
  color: var(--light-grey-color);
}

.vision-paragraph::first-letter{
  margin-left: 1rem;
}
/*  */

/* Section 4 */
.section-4{
    width: 100%;
    height: 100vh;
    /* background-color: #7a7a9e; */
    background: linear-gradient(rgba(165, 149, 236, 0.66), rgba(199, 186, 248, 0.88)), url(images/doremi-2.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    position: relative;
}
/*  */

/* Footer */
.footer{
    width: 100%;
    height: 12rem;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
  }
  
  .copyright{
    /* position: absolute; */
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: .27rem;
    color: #a7a7a7;
    /* bottom: 3rem;
    padding-top: 6rem; */
    /* width: 100%; */
    text-align: center;
  }
  .copyright span{
    color: #c29525;
    margin-right: 1rem;
    font-size: 3rem;
  }
  .copyright span img{
    width: .6rem;
    fill: #c29525 !important;
    filter: invert(50%) sepia(100%) ; 
    /*saturate(10%) hue-rotate(180deg)*/
  
  }